*, 
*::after, 
*::before {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

input,
button,
textarea {
	font-family: inherit;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
}