.wrapper {
	padding: 20px;

	section {
		margin-bottom: 20px;
	}
}

.input {
	width: 1200px;
	height: 200px;
	padding: 15px;
	border: 7px solid $btn-container-color;
	border-radius: 10px;
	font-size: inherit;
	resize: none;
}