.keyboard {
	padding: 20px;
	border-radius: 15px;
	background-color: $keyboard-color;
	border-bottom: 5px solid $btn-container-color;
	// border-left: 5px solid #0000b3;
	border-left: 5px solid #2a2a9e;
	border-right: 5px solid #0000b3;
	// border-top: 5px solid #3333ff;
	border-top: 5px solid #6161d8;
}

.keyboard-container {
	padding: 5px;
	// border: 1px solid #000080;
	border-radius: 7px;
	background-color: $btn-container-color;
}

.row {
	display: flex;
}

.key {
	width: $key-width;
	height: $key-height;
	padding: $key-padding;
	border: 1px solid #000;
	border-radius: 5px;
	background-color: $light-color;
	background-image: linear-gradient(to bottom, $light-color, $gradient-dark-color);
	transition: transform 0.2s;
	cursor: pointer;

	&.active {
		transform: translateY(4px);
	}

	span {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 2px solid $light-color;
		border-radius: 4px;
		background-color: $light-color;
		background-image: linear-gradient(to top, $light-color, $gradient-middle-color);
	}
}

.keyboard__key {
	margin: $key-margin;
}

.key-func-left-shift,
.key-func-right-shift,
.key-func-capslock,
.key-func-enter {
	width: $key-width * 2 + $key-margin * 3;
}

.key-func-backspace {
	width: $key-width * 2 + $key-margin * 4;
}

.key-func-tab,
.key-func-left-ctrl,
.key-func-left-alt,
.key-func-right-alt {
	width: $key-width + $key-margin * 2;
}

.key-func-space {
	width: $key-width * 7 + $key-margin * 8 ;
}