// colors
$keyboard-color: #3b3bbd;
$btn-container-color: #000099;
$key-font-color: #000080;

$gradient-dark-color: #8080ff;
$gradient-middle-color: #ccccff;

$light-color: #ffffff;

// key sizes
$key-height: 65px;
$key-width: 65px;
$key-margin: 2px;
$key-padding: 4px 8px 16px;